footer
  .container.text-center
    p.pull-left © 2017 SmartReply, Inc. All Rights Reserved. Proudly Powered by 
      a(href='https://www.sparkpost.com/', rel='external', target='_blank') SparkPost
      | .
    ul.pull-right.list-inline
      li
        a(href='https://github.com/yjwong/nacre-falcon') GitHub Project
      li
        a(href='https://github.com/yjwong/nacre-falcon/issues') Issues
