extends layout

block scripts
  script(src='/js/home.js')

block content
  h1 SmartReply
  p.lead Understand your email to generate smart responses.
  hr

  if user
    div.col-sm-8
      p Your SmartReply email address is:
      .form-group
        input#email.form-control.input-lg(type='text', value=`bot+${user._id}@mail.wong.place`)
      .text-center
        button#btn-copy-email.btn.btn-primary.btn-block.btn-lg(data-clipboard-target='#email')
          | Click to copy email
    div.clearfix
    hr

  a.btn.btn-primary.btn-lg(href='/onboarding')
    | Get Started